* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.continer {
  width: 30%;
  height: 60vh;
  display: inline-block;
  margin: 150px 200px;
}
h1 {
  margin-bottom: 40px;
  color: #fa505f;
}
.intro{
  color: #fa505f;
  margin-bottom:30px;
}
.intro h1 {
  margin-bottom: 10px;
}
.my-form {
  height: 100%;
}
.config {
  margin: 30px 0;
}
.config label {
  color: #968cc0;
  display: block;
  padding-bottom: 10px;
  font-size: 20px;
}
.config input {
  width: 300px;
  height: 2rem;
  background-color: #f6f7fa;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #c9d7ff;
  font-size: 18px;
  color: black;
}
.sign {
  font-size: 20px;
  background-color: #fa505f;
  color: white;
  border: none;
  border-radius: 10px;
  width: 330px;
  height: 60px;
}
.signup {
  width: 250px;
  height: 50px;
  background-color: #3FA421;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 30px 40px;
}
.register{
  font-size: 20px;
  background-color: #3FA421;
  color: white;
  border: none;
  border-radius: 10px;
  width: 330px;
  height: 60px;
}
img {
  float: right;
  width: 900px;
  height: 800px;
  object-fit: contain;
  margin-right: 40px;
}
